on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  extensions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Configure git user
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - name: Download flowR release
        uses: robinraju/release-downloader@v1
        with:
          repository: flowr-analysis/vscode-flowr
          latest: true
          fileName: "*.vsix"
      - name: Cleanup previous flowR release
        run: |
          rm -rf .vscode/extensions/vscode-flowr
          mkdir -p .vscode/extensions/vscode-flowr
      - name: Unpack flowR release
        run: |
          unzip -o *.vsix -d _unpacked
          cp -a _unpacked/extension/. .vscode/extensions/vscode-flowr
          rm -r _unpacked *.vsix
      - name: Commit and push changes
        run: |
          git add .
          git commit -m "[skip ci] Update flowR extension"
          git push
